@import url('page.css');


.panel {
  width: 600px;
  top: 30vh;
}

@media screen and (max-width: 750px) {
  .panel {
    width: 100%;
    border: 0;
    top: 0;
  }

  canvas {
    display: none;
  }

  .navigation {
    margin: 0;
  }

  html {
    background-color: #ffffc3;
  }
}
