@import url('stylesheet.css');
@import url('grid.css');


.panel {
  border: 3px solid #312f3a;
  background-color: #f2f2f2;
  position: relative;
  box-shadow: 0 0 25px 5px rgba(46,61,73,0.35);
}

.content {
  padding: 10px;
}

canvas {
  position: absolute;
  z-index: -1;
  right: 0;
}

html {
  background-color: #312f3a;
}
