@import url('stylesheet.css');
@import url('grid.css');


.panel {
  border: 3px solid #312f3a;
  background-color: #ffffc3;
  position: relative;
}

.content {
  padding: 10px;
}

canvas {
  position: absolute;
  z-index: -1;
  right: 0;
}

html {
  background-color: #312f3a;
}
