@font-face {
  font-family: 'Big John';
  src: url('/media/big_john.eot');
  src: url('/media/big_john.eot?#iefix') format('embedded-opentype'),
    url('/media/big_john.woff') format('woff'),
    url('/media/big_john.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html, .vertical-center {
  height: 100%;
  margin: 0;
  color: #312f3a;
  font-family: Montserrat, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: "Big John", "Franklin Gothic Bold", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

a {
  font-family: "Big John", "Franklin Gothic Bold", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

h4 {
  margin-bottom: 10px;
  text-align: center;
}

li {
  margin: 10px 0;
}

li p {
  margin: 0;
}

hr {
  background-color: black;
  height: 3px;
  border: 0;
}

.navigation {
  width: 100%;
  border: 3px solid #312f3a;
  border-right: 0;
  border-left: 0;
  margin: 10px 0;
  padding-top: 8px;
  padding-bottom: 3px;
  background-color: #ffffc3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navigation:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

a {
  text-decoration: none;
}
