.panel
  border: 3px solid #312f3a
  background-color: #ffffc3
  padding: 10px
  width: 600px
  position: relative
  top: 30vh
  text-align: center

canvas
  position: absolute
  z-index: -1

html
  background-color: #312f3a
