@font-face
  font-family: Big John
  src: url('/media/BIG JOHN.otf')

body, html, .vertical-center
  height: 100%
  margin: 0
  color: #312f3a
  font-family: Montserrat
  font-weight: bold

h1, h2, h3
  text-align: center
  font-family: Big John

a
  font-family: Big John

h4
  margin-bottom: 10px
  text-align: center
